

body{
    background-color:#f0f0f0 ;
}
/*
 * head style
 */
#logo{
  margin-left: 30px;
}

/* 
 * navbar style
 */
.navbar{
    /*border: 2px solid crimson;*/
    /*position: fixed;*/
    /*top: 0;*/
}

.navbar-header{
    /*border: 2px solid #276;*/

}


/*.navbar .nav > .active > a,*/
/*.navbar .nav > .active > a:hover,*/
/*.navbar .nav > .active > a:focus {*/
  /*color: #555555;*/
  /*text-decoration: none;*/
  /*background-color: #fff;*/
  /*-webkit-box-shadow: none;*/
  /*-moz-box-shadow: none;*/
  /*box-shadow: none;*/
  /*border-bottom: 3px solid #cccccc;*/
/*}*/

#example-navbar-collapse{
    /*border: 2px solid #f0ad4e;*/

}

#example-navbar-collapse .nav{
    /*border: 2px solid #976;*/

}

#example-navbar-collapse .dropdown{
    /*border: 2px solid #176;*/

}



#example-navbar-collapse .dropdown-menu {
    /*border: 2px solid #176;*/
    /*display: block;     跟隐藏效果冲突*/
    /*color: #f0ad4e;    此样式不起作用*/
}

.dropdown-menu #abg{
    text-decoration: none;
    background-color: #999;
}

/*
 * banner style
 */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.banner {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
    /*border:2px solid #f0a;*/
    margin-top: -22px;
}

.banner .adaptive {
    position: absolute;
    width: 1280px;
    left: 50%;
    margin-left: -640px;
}

.banner .adaptive .img {
    position: absolute;
    z-index: 1;
    width: 10000px;
    height: 600px;
    /*border:2px solid #00a;*/
}

.banner .adaptive .img li {
    float: left;
    /*display: inline;*/
    width: auto;
    height: 600px;
    /*border:2px solid #296;*/
}

.banner .num {
    /*border:2px solid #296;*/
    position: absolute;
    top:90%;
    left: 30%;
    z-index: 2;
    height: 10px;
    width: 40%;
}

.banner .num li {
    float: left;
    margin-right: 5px;
    width: 20%;
    height: 5px;
    /*border: 1px solid #1aa;*/
    /*border-radius: 50%;*/
    background:#8f8f8f ;
    cursor: pointer;
}

.num li:hover{
    background: #ffffff;
}

.banner .num .active {
    background: #fff;
}

.arrow {
    position: absolute;
    top: 250px;
    z-index: 2;
    display: none;
    width: 100px;
    height: 100px;
    font-size: 100px;
    font-family: "Songti SC";
    text-align: center;
    line-height: 100%;
    color: #8f8f8f;
    cursor: pointer;
}

.arrow:hover {
    color: #ffffff;
    background: RGBA(0, 0, 0, .7);
}

.banner:hover .arrow {
    display: block;
}

#prev {
    position: absolute;
    left: 0;
}

#next {
    position:absolute;
    right: 0;
}

/*
 * cards style
 */
.cards{
    /*border:2px solid #ff9fff;*/
}

.cards img{
    z-index: 2;
}
/*.cards .worthrecommending{*/
    /*border: 2px solid #2a6496;*/
/*}*/

/*.cards .belovedthing{*/
    /*border: 2px solid #792;*/
    /*!*position: relative;用相对定位实现不完美,元素本生占用文档流,移动后留有空白*!*/
    /*!*width:40%;*!*/
    /*!*top: -1000px;*!*/
    /*!*right: -60%;*!*/
    /*position: absolute;*/
    /*top:0;*/
    /*right:0;*/
    /*width:40%;*/
/*}*/

.cards .container{
    /*border:2px solid #a40;*/
    width: 100%;
}

.cards .container .row{
    /*border:2px solid #222;*/

}

.cards .col-md-7{
    /*border:2px solid #00ad40;*/

}

.col-md-7 .line1 {
    /*border:2px solid #959;*/
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    margin: 0 -15px;
    position: relative;
    overflow: hidden;
    height: 520px;
}

.worthRecommending .line1 .adaptive{
    position:absolute;
    width: 1000px;
    left: 50%;
    margin-left: -550px;
    /*height: 500px;从父级向子级逐级定义,先定子级无效*/
}

.worthRecommending .line2 {
    /*border:2px solid #459;*/
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    margin: 0 -15px;
    position: relative;
    overflow: hidden;
    height: 518px;
}

.worthRecommending .line2 .adaptive{
    position:absolute;
    width: 1000px;
    left: 50%;
    margin-left: -550px;
}

.cards .belovedThing{
    /*border:2px solid #d40;*/

}

.belovedThing .line1 {
    /*border:2px solid #559;*/
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    margin: 0 -15px;
    position: relative;
    overflow: hidden;
    height: 520px;
}

.belovedThing .line1 .adaptive{
    position:absolute;
    width: 1000px;
    right: 50%;
    margin-right: -500px;
}

.belovedThing .line2 {
    /*border:2px solid #959;*/
    border-bottom: 2px solid #ffffff;
    margin: 0 -15px;
    position: relative;
    overflow: hidden;
    height: 518px;
}

.belovedThing .line2 .adaptive{
    position:absolute;
    width: 1000px;
    right: 50%;
    margin-right: -500px;
}

/*
 * footler style
 */
#line{
  width: 100%;
    height: 4px;
  /*margin:0 auto;*/
  border: 2px groove #fff;
}
.footer {
    /*border: 2px solid #f0ad4e;*/
  background-color: #f0f0f0;
/*background: url(../images/emerald-footer.png) repeat-x #097a5f;*/
    padding: 20px 0 10px 20px;
  color: #666;
  text-shadow: 1px 1px 1px #999;
}



/*
 * 照片库主内容的样式
 */
#main-gallery{
    /*border: 2px solid #f0ad4e;*/
    margin: -20px 0 0 0;
    height: 10000px;
}

/*#main-gallery .container{
    width: 100%;
    position: relative;
    !*border: 2px solid #f0ad4e;*!
    padding: 0;
    -webkit-column-width:305px ;
    -webkit-column-gap:0 ;    !*因为默认样式的间距不为0,只有让间距为0,2个相框才能紧挨着*!
}*/

#main-gallery .container{
    position: relative;     /*作为box的父级只能相对,否则box会重叠*/
    /*border: 2px solid #f0ad4e;*/
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 ;
}


#main-gallery .box{
    float: left;
    padding: 0 2px;
}

#main-gallery .overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1;
    -moz-opacity: 0.8;
    opacity:0.80;
    filter: alpha(opacity=80);
}

#main-gallery .lightbox{
    display: none;
    position: fixed;
    top: 60%;              /*这才是正经实现办法*/
    left: 50%;
    transform: translate(-50%, -50%);
    /*left: 0;            !*此法能实现视觉效果的居中,而实质是margin扩大并隐藏,所以会占据整个页面的宽度*!*/
    /*right: 0;*/
    /*margin: 0 auto;*/   /*此法仅限在文档流(static/relative)中使用,用此法也不能实现,因为fixed使元素脱离了文档流*/
    z-index:6;
    color: #f0f0f0;
    font-size: large;
    text-align: center;
}

#main-gallery .lightbox img{
    width: auto;
    height: auto;
    border: 5px solid #ffffff;
}

#main-gallery .img{
    margin: 0 0 5px 0;  /*没有此margin,下阴影会覆盖下面的图片*/
    padding: 5px;
    box-shadow: 5px 5px 5px #666;


}

#main-gallery img{
    /*border: 1px solid #f0ad4e;*/
    width: 305px;
    height: auto;
}

/*
 * 值得推荐/心爱之物库主内容的样式
 */
.content-box{
  border: 1px solid #d7d7d7;
  border-top: none;
  padding: 10px;
  margin-bottom: 20px;
}

.content-box h1{
  font-size: 15px;
  line-height: 30px;
  margin-top: 0;
}

.content-meta span,
.content-meta time{
  margin-right: 10px;
  color: #828282;
}

.content-meta img{
  width: 36px;
  height: 36px;
}

#main-content{
      margin: 20px 0;
}

#main-content .container{
    /*border:2px solid #f0ad4e;*/
    /*width: 100%;*/
}

.media-box{
  height: 360px;
  overflow: hidden;
    /*border:2px solid #f0ad4e;*/

}
.media-box img{
    height: 100%;
    width: 100%;
}

.library{
    margin: 0 auto;
    width:90%;
}

.pager a{
    color: #999;
}

.breadcrumb{
    /*border:2px solid #f0ad4e;*/
    background-color: #f0f0f0;
    color: #f0f0f0;
    margin-bottom: -20px;
}
.breadcrumb a{
    text-decoration: none;
    color: #999;
}

.breadcrumb .active{
    color: #666;
}




/*
 * 文章内容的样式
 */
.article-title{
  margin-bottom: 30px;
}

#content{
  margin: 20px 0;
    /*border:2px solid #f0ad4e;*/
    overflow: scroll;
}

#content img{
    width: 100%;
}
#content p{
    margin-top: 10px;
}

.icon-line{
    width: auto;
    margin-top:100px;
    border:  1px dashed #999;

}

.icon-bow{
    display: block;
    width: 52px;
    height: 21px;
    background: #f0f0f0 url(../images/bow.png) no-repeat 50% 50%;
    margin: 0 auto;
    margin-top: -11px;
    padding: 0 10px;
}

/*
 * 右边栏的样式
 */
.title-line{
  border-bottom: 2px solid #aaa;
    margin-right: -10px;
  margin-bottom: 30px;
}

.title-line h3{
  font-size: 18px;
  line-height: 1;
  position: relative;
  bottom: -13px;
  display: inline;
  padding-right: 15px;
    background-color: #f0f0f0;
}


/*
 * 评论的样式
 */
#comments{
    /*border:2px solid #f0ad4e;*/

}

#comments h2{
    font-size: 18px;
}

#comments .media{
    margin-bottom: 20px;
}

#comments .media img{
    width: 60px;
    height: 60px;
}




/*
 * resume顶栏的样式
 */
/*#bottom{*/
    /*background: #009571 url(../images/emerald.png);*/
    /*color: #fff;*/
    /*text-shadow: 1px 1px 1px #048465;*/
/*}*/

/*.semicircle{*/
    /*background: url(../images/semicircle.png) repeat-x;*/
    /*padding: 20px 0;*/
/*}*/

/*#bottom h3{*/
    /*font-size: 18px;*/
    /*color: #075442;*/
    /*text-shadow: 1px 1px 1px #03a67f;*/
    /*background: url(../images/dashed-h.png) repeat-x 0 50%;*/
/*}*/

/*#bottom h3 span{*/
    /*background: url(../images/emerald.png);*/
    /*padding-right: 10px;*/
/*}*/

/*.dashed-v{*/
    /*background: url(../images/dashed-v.png) repeat-y 100% 0;*/
    /*padding: 0 20px 20px 0;*/
/*}*/

#home{
    font-size: 24px;
}

#github{
    font-size: 24px;
}

#wechat{
    text-align: center;
}



